body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
}

.display {
  text-align: end;
}

.group-1,
.group-2,
.group-3,
.group-4,
.group-5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button:hover {
  cursor: pointer;
}
